.Home {
    overflow: hidden;
    position: relative;
}

.Home > img {
    position: absolute;
    bottom: 0;
    left: -20%;
    opacity: 20%;
    height: 100vh;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%,rgba(0,0,0,0));
}

/* .HomeFlyers{
    position: absolute;
    aspect-ratio: 1/1;
    max-width: 100px;
    width: 10vh;
}

.flyer1 {
    right:20%;
    top: 10%;
    animation: homeflyer1 1s ease-in;
}
.flyer2 {
    right:30%;
    top: 25%;
    animation: homeflyer2 1s ease-in;
}
.flyer3 {
    right:20%;
    top: 40%;
    animation: homeflyer3 1s ease-in;
}

@keyframes homeflyer1 {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        opacity: 1;
        right:20%;
    }
}

@keyframes homeflyer2 {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        opacity: 1;
        right:30%;
    }
}

@keyframes homeflyer3 {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        opacity: 1;
        right:20%;
    }
} */

.HomeTextBox {
    position: absolute;
    bottom: 10%;
    left: 60%;
}

/* .HomeFlyers > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.wavy-line {
    width: 100px;
    padding-bottom: 1rem;
    background-repeat: repeat-x;
    background-size: 250px;
    background-position: 10% 100%;
    animation-name: animateSquiggles;
    animation-direction: forward;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wavy-line1 {
    position: absolute;
    top: 20%;
    left: 100%;
}
.wavy-line2 {
    position: absolute;
    top: 45%;
    left: 100%;
}
.wavy-line3 {
    position: absolute;
    top: 70%;
    left: 100%;
}

@keyframes animateSquiggles {
    0% {
      background-position: 0% 100%;
    }
    25% {
      background-position: 25% 100%;
    }
    50% {
      background-position: 50% 100%;
    }
    75% {
      background-position: 75% 100%;
    }
    100% {
      background-position: 100% 100%;
    }
} */

@media (max-width:900px) {

    /* .flyer1 {
        right:30%;
    }
    .flyer2 {
        right:40%;
    }
    .flyer3 {
        right:30%;
    } */
    
}