.Home {
    overflow: hidden;
    position: relative;
}

.Home > img {
    position: absolute;
    bottom: 0;
    left: -20%;
    opacity: 20%;
    height: 100vh;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%,rgba(0,0,0,0));
}

#hi-text {
    position: absolute;
    right: 5%;
    top:30%;
    font-size: 50px;
}

.HomeTextBox {
    position: absolute;
    bottom: 20%;
    right: 5%;
}


@media (max-width:900px) {

}